android.local.version=11.0
android.local.device=Pixel 4
android.local.app.path=src/test/resources/apps/org.stepic.droid.apk
appPackage=org.stepic.droid
appActivity=org.stepic.droid.ui.activities.MainFeedActivity
